<ion-header>
  <ion-toolbar>
    <ion-title>{{ game?.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToGames()">Back to Games</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="game">
  <ion-card>
    <img [src]="game.thumbnail"/>
    <ion-card-header>
      <ion-card-title>{{ game.title }}</ion-card-title>
      <ion-card-subtitle>{{ game.genre }} | {{ game.platform }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Description:</strong> {{ game.description }}</p>
      <p><strong>Publisher:</strong> {{ game.publisher }}</p>
      <p><strong>Developer:</strong> {{ game.developer }}</p>
      <p><strong>Release Date:</strong> {{ game.release_date | date }}</p>
      <ion-button expand="block" color="primary" [href]="game.game_url" target="_blank">Play Now</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Add to List</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Play Later</ion-label>
      <ion-checkbox [(ngModel)]="lists.playLater"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Currently Playing</ion-label>
      <ion-checkbox [(ngModel)]="lists.currentlyPlaying"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Played</ion-label>
      <ion-checkbox [(ngModel)]="lists.played"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Completed</ion-label>
      <ion-checkbox [(ngModel)]="lists.completed"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="addToLists()">Add to Selected Lists</ion-button>
</ion-content>
