<ion-header>
  <ion-toolbar>
    <ion-title>Games</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBackToProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onFilterChange()"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Platform</ion-label>
          <ion-select [(ngModel)]="platformFilter" (ionChange)="onFilterChange()">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option *ngFor="let platform of platforms" [value]="platform.name">{{ platform.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Genre</ion-label>
          <ion-select [(ngModel)]="genreFilter" (ionChange)="onFilterChange()">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option *ngFor="let genre of genres" [value]="genre.name">{{ genre.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Sort By</ion-label>
          <ion-select [(ngModel)]="sortField" (ionChange)="onFilterChange()">
            <ion-select-option value="title">Title</ion-select-option>
            <ion-select-option value="release_date">Release Date</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Order</ion-label>
          <ion-select [(ngModel)]="sortOrder" (ionChange)="onFilterChange()">
            <ion-select-option value="asc">Ascending</ion-select-option>
            <ion-select-option value="desc">Descending</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let game of games" (click)="viewDetails(game.id)">
      <ion-thumbnail slot="start">
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ game.title }}</h2>
        <p>{{ game.short_description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
