<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToGames()">Back to Games</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="user.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="user.password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Avatar URL</ion-label>
    <ion-input [(ngModel)]="user.avatar" type="url"></ion-input>
  </ion-item>

  <ion-item>
    <div *ngIf="user.avatar; else noAvatar">
      <img [src]="user.avatar" alt="Avatar" style="width: 100px; height: 100px;" />
      <ion-button (click)="removeAvatar()">Remove Avatar</ion-button>
    </div>
    <ng-template #noAvatar>
      <div style="width: 100px; height: 100px; background-color: #ccc; display: flex; align-items: center; justify-content: center;">
        <span style="font-size: 36px;">{{ user.name ? user.name[0] : '' }}</span>
      </div>
    </ng-template>
  </ion-item>

  <ion-button expand="full" (click)="updateProfile()">Update Profile</ion-button>
  <ion-button expand="full" (click)="goToUserLists()">My Game Lists</ion-button>
  <ion-button expand="full" (click)="goToGamesList()">Games List</ion-button> <!-- Novo botão -->
</ion-content>
