<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToGames()">Go to Games</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Avatar</ion-label>
      <ion-img [src]="user.avatar" *ngIf="user.avatar"></ion-img>
      <ion-button (click)="removeAvatar()" *ngIf="user.avatar">Remove Avatar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="updateProfile()">Update Profile</ion-button>
  <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Play Later</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let game of lists.playLater">
      <ion-thumbnail slot="start">
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      <ion-label (click)="viewDetails(game.gameId)">{{ game.title }}</ion-label>
      <ion-button (click)="removeFromList(game.gameId, 'PlayLater')">Remove</ion-button>
    </ion-item>

    <ion-list-header>
      <ion-label>Currently Playing</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let game of lists.currentlyPlaying">
      <ion-thumbnail slot="start">
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      <ion-label (click)="viewDetails(game.gameId)">{{ game.title }}</ion-label>
      <ion-button (click)="removeFromList(game.gameId, 'CurrentlyPlaying')">Remove</ion-button>
    </ion-item>

    <ion-list-header>
      <ion-label>Played</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let game of lists.played">
      <ion-thumbnail slot="start">
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      <ion-label (click)="viewDetails(game.gameId)">{{ game.title }}</ion-label>
      <ion-button (click)="removeFromList(game.gameId, 'Played')">Remove</ion-button>
    </ion-item>

    <ion-list-header>
      <ion-label>Completed</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let game of lists.completed">
      <ion-thumbnail slot="start">
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      <ion-label (click)="viewDetails(game.gameId)">{{ game.title }}</ion-label>
      <ion-button (click)="removeFromList(game.gameId, 'Completed')">Remove</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
